<div class="sidebar">
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><span class="iconify" data-icon="ant-design:plus-outlined"></span></button>
       <a href="/" class="link">Home</a>
      <a href="/farmers" class="link">Farmers</a>
      <a href="/production" class="link">Production</a>
      <a href="/aggregation" class="link">Aggregation</a>
      <a href="/marketing" class="link">Marketing</a>
      <a href="/distribution" class="link">Distribution</a>
      <a href="/sales" class ="link">Sales</a>
      <a href="/customers" class ="link">Customers</a>
      

 </div>