<%- include('partials/header') %>
    <h3>Registration</h3>
    <span class="iconify" data-icon="bx:bxs-user" data-inline="false"></span>

    <a href="/logout">Logout</a>
   
    <div class='containers'>
       
            <div class="sidebar">
                <button class="button__link btn"><a href="/farmers" class="link">Farmers</a></button>
                <button class="button__link btn"><a href="/production" class="link">Production</a></button>
                <button class="button__link btn"><a href="/orders" class="link">Orders</a></button>
                <button class="button__link btn"><a href="/aggregation" class="link">Aggregation</a></button>
                <button class="button__link btn"><a href="/marketing" class="link">Marketing</a></button>
                
            </div>
            <div>
                <button class="button__link"><a href="/register" class="link">Add farmer</a></button>
            </div>
            <div>
                <canvas id="myChart"></canvas>
              </div>
              
           
           
      
            
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      
        // <block:setup:1>
const labels = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First dataset',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [0, 10, 5, 2, 20, 30, 45],
  }]
};
// </block:setup>

// <block:config:0>
const config = {
  type: 'line',
  data: data,
  options: {}
};
// </block:config>

module.exports = {
  actions: [],
  config: config,
};

    </script>
    <script>
        

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

    </script>

    <script src="/js/stock.js"></script>

</body>
</html>