<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>Document</title>
</head>
<body>
    <h1 class="heading">Register farmer</h1>
    <div class="form">
    <form action="/farmers/new" method="POST">

        <label for="">Date of Registration
            <input type="date" name="date" placeholder="Date" class="input-field"><br>
        </label>

        <label for="">Member Id
            <input type="text" name="id" placeholder="Member Id" class="input-field"><br>
        </label>
        
        
        <label>Group Name
            <input type="text" name="group" placeholder="Group name" class="input-field"><br>
        </label>
        <label>Name
            <input type="text" name="name" placeholder="Name" class="input-field"><br>
        </label>
        
        <label>Mobile Number
            <input type="text" name="tel" placeholder="Mobile Number" class="input-field"><br>
        </label>
        <label>PLot Size
            <input type="text" name="plot" placeholder="plot size in acres" class="input-field"><br>
        </label>
        <label>Plot Nature
            <input type="text" name="plot_nature" placeholder="Nature of plot" class="input-field"> <br>
        </label>
        <label>Value Chain
            <input type="text" name="valueChain" placeholder="member value chain" class="input-field"><br>
        </label>
        <label>Investement
            <input type="text" name="investment" placeholder="Investment in ksh" class="input-field"><br>
        </label>
        <label>Projected harvest in months
            <input type="text" name="harvest" placeholder="Projected harvest duration in months" class="input-field"><br>
        </label>
        <label>Projected harvest in Kg
            <input type="text" name="weight" placeholder="Projected harvest in Kg" class="input-field"><br>
        </label>
        <input type="submit" class="button__link btn" value="Register">
    </form>
    </div>
</body>
</html>