<%- include ('partials/header') %>


<h1>SignIn</h1>

<div class="containers">
    <div class="form-container">
        <form action="/signin" method="POST" class="signin-form">

   
            <label>Name 
                <input type="text" name="name" id="name">
            </label>
            <label>Password
                <input type="password" name="password" id="password">
            </label>
            <input type="submit" class="btn" value="Sign In">
        
        </form>
    </div>
   
</div>



</body>
</html>