<%- include('partials/header') %>

<h1>Signup Form</h1>

<form action="/signup" method="POST">

   
    <label>Name 
        <input type="text" name="name" id="name">
    </label>
    <label>Password
        <input type="password" name="password" id="password">
    </label>
    <input type="submit" value="Submit">t

</form>

</body>
</html>