@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;

}


/* .nav {
    display: flex;
    justify-content: center;
    position:absolute;
    right:0;
} */
.containers{
    display: flex;
    min-height:100vh;
    width:100%;
    /* justify-content: space-between; */
    position:relative;
  
   
}
.canvas{
   margin:40px;
    width:60%;
   
}
.canvas-div{
    display: flex;
    justify-content: space-between;
    
    width:100%;
}

.sidebar{
 
    border-right:1px solid black;
    background-color:#436A2D;
    display:flex;
    flex-direction:column;
    min-height:100%;
    width:200px;
    
    
}

.table-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.button__link{
    outline:none;
    border:none;
    border-radius:5px;
    appearance: none;
   background-color: #436A2D;
    padding:10px 30px;
    display: block;
    margin:20px auto;
    
}
.btn{
    background-color: #436A2D;
}
.production-details{
    border-left:1px solid black;
    padding:0 30px;
    width:30%;
   
}
.btn{
    margin:20px;
}
.heading{
    text-align:center;
}
/* .form{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
} */
.input-field{
    margin:10px;
    border-radius: 5px;
    padding:10px;
    outline:none;
}

.link{
    text-decoration: none;
    color:#e5e5e5;
    width:100%;
    padding:10px;
    /*  */
}
.link:hover,
link:active{
    background-color:black;
    color:white;
    text-decoration: none;
}

.logo{
    height: auto;
    width: 65px;
    /* margin-top: 3px; */
    
}

.sales-table{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    align-items:center;
}

.btn-invoice{
    transform: translate(200%,0);
}
.invoice-table{
    border:1px solid black;
    display: flex;
    width:100%;
    justify-content: center;
}

.anchor {
    text-decoration: none;
    color:#436A2D;
}
.tabulator{
    background-color:inherit;
}



