@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;

}
body{
    border:1px solid black;
}


.nav {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    
}
.containers{
    display: flex;
    min-height:100vh;
    width:100%;
    justify-content:center;
   
}
.sidebar{
  margin-top:30px;
    border-right:1px solid black;
    
}

.table-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.button__link{
    outline:none;
    border:none;
    border-radius:5px;
    appearance: none;
   background-color: #436A2D;
    padding:10px 30px;
    display: block;
    margin:20px auto;
    
}
.btn{
    background-color: #436A2D;
}
.production-details{
    border-left:1px solid black;
    padding:0 30px;
    width:30%;
   
}
.btn{
    margin:20px;
}
.heading{
    text-align:center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.input-field{
    margin:10px;
    border-radius: 5px;
    padding:10px;
    outline:none;
}

.link{
    text-decoration: none;
    color:black;
    /*  */
}


.logo{
    height: auto;
    width: 65px;
    /* margin-top: 3px; */
    
}

.anchor {
    text-decoration: none;
    color:#436A2D;
}
.tabulator{
    background-color:inherit;
}



