@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0; 
    /* background-color: #ffffff;  */
}

.nav {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    
}

.logo{
    height: auto;
    width: 65px;
    /* margin-top: 3px; */
    
}

.anchor {
    text-decoration: none;
    color:#436A2D;
}

button{
    display: block;
    margin: auto;
    background-color: #436A2D;
    color: cyan;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}

table{
    margin: 30px;
}

th{
    padding: 5px;
}

td{
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }